@model IEnumerable<OC_Express_Voitures.Models.VehicleIndexViewModel>

@{
    ViewData["Title"] = "Index";
}



<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Vin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Finish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.RetailPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            <th>
                @* Buttons *@
            </th>            
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {          
            @{
                string statusClass = "bg-gradient text-light bg-";              
                


    switch (item.Status)
    {
        case "Vendu":
                        statusClass = statusClass + "secondary";
            break;
        case "Bientôt disponible":
                        statusClass = statusClass + "primary";
            break;
        default:
                        statusClass = statusClass + "dark text-bold";
            // Default case
            break;
    }
}

<tr class="@statusClass">
                <td>
                    @Html.DisplayFor(modelItem => item.Vin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Finish)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>             
                <td>
                    @Html.DisplayFor(modelItem => item.RetailPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td >
                    <a asp-action="Edit" asp-route-id="@item.Id" class="@statusClass">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="@statusClass">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="@statusClass">Delete</a>
                </td>               
            </tr>
        }
    </tbody>
</table>
