@model IEnumerable<OC_Express_Voitures.Models.Repair>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@{
    bool isLoggedIn = (SignInManager.IsSignedIn(User));
    ViewData["Title"] = "Index";
    bool hasId = @ViewData["CurrentVehicleId"]!=null;
    bool isSold = ViewData["IsCurrentVehicleSold"] != null && (bool)ViewData["IsCurrentVehicleSold"];
}


<h1>Réparations</h1>

@if (isLoggedIn && !isSold)
{
   
    @if (hasId){
         <form asp-action="Create" asp-controller="Repairs" method="get">
            <input type="hidden" name="id" value="@ViewData["CurrentVehicleId"]" />
            <button type="submit" class="btn btn-primary mt-2">  Add a repair for this vehicle</button>
        </form>

    }   
    else{
        <form asp-action="Create" asp-controller="Repairs" method="get">
            <button type="submit" class="btn btn-primary mt-2">Create new</button>
        </form>
    }
   
   
 
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle.Vin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vehicle.Vin)
                </td>
                <td>
                    @if (isLoggedIn)
                    {
                        <span>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        </span>
                    }
                    <a asp-controller="Vehicles" asp-action="Details" asp-route-id="@item.VehicleId">See Vehicle</a>

                    @if (isLoggedIn)
                    {
                        <span>
                            | <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                        </span>

                    }
                </td>
            </tr>
        }
    </tbody>
</table>
